{{inventory_hostname}},{{bgp_summ[0].BGP_NEIGH}},{{bgp_summ[0].UP_DOWN}},{{bgp_nei[0].BGP_STATE}},{{MSS_S1R1[5]}}
{{inventory_hostname}},{{bgp_summ[1].BGP_NEIGH}},{{bgp_summ[1].UP_DOWN}},{{bgp_nei[1].BGP_STATE}},{{MSS_S1R2[5]}}
