router bgp {{65000+siteid}}
 bgp log-neighbor-changes
{% if 's1-r1' in inventory_hostname %}
 neighbor {{ hostvars['s1-r2'].ansible_net_interfaces['Ethernet0/0']['ipv4'].0['address'] }} remote-as {{ 65000+hostvars['s1-r2'].siteid}}
 neighbor {{ hostvars['s2-r1'].ansible_net_interfaces['Ethernet0/1']['ipv4'].0['address'] }} remote-as {{ 65000+hostvars['s2-r1'].siteid}}
 neighbor {{ hostvars['s2-r2'].ansible_net_interfaces['Ethernet0/1']['ipv4'].0['address'] }} remote-as {{ 65000+hostvars['s2-r2'].siteid}}
 neighbor {{ hostvars['s3-r1'].ansible_net_interfaces['Ethernet0/1']['ipv4'].0['address'] }} remote-as {{ 65000+hostvars['s3-r1'].siteid}}
 neighbor {{ hostvars['s3-r2'].ansible_net_interfaces['Ethernet0/1']['ipv4'].0['address'] }} remote-as {{ 65000+hostvars['s3-r2'].siteid}}
{% else %}
 neighbor {{ hostvars['s1-r1'].ansible_net_interfaces['Ethernet0/0']['ipv4'].0['address'] }} remote-as {{ 65000+hostvars['s1-r1'].siteid}}
 neighbor {{ hostvars['s2-r1'].ansible_net_interfaces['Ethernet0/2']['ipv4'].0['address'] }} remote-as {{ 65000+hostvars['s2-r1'].siteid}}
 neighbor {{ hostvars['s2-r2'].ansible_net_interfaces['Ethernet0/2']['ipv4'].0['address'] }} remote-as {{ 65000+hostvars['s2-r2'].siteid}}
 neighbor {{ hostvars['s3-r1'].ansible_net_interfaces['Ethernet0/2']['ipv4'].0['address'] }} remote-as {{ 65000+hostvars['s3-r1'].siteid}}
 neighbor {{ hostvars['s3-r2'].ansible_net_interfaces['Ethernet0/2']['ipv4'].0['address'] }} remote-as {{ 65000+hostvars['s3-r2'].siteid}}
{% endif %}
 !
address-family ipv4
  network 0.0.0.0
{% if 's1-r1' in inventory_hostname %}
  neighbor {{ hostvars['s1-r2'].ansible_net_interfaces['Ethernet0/0']['ipv4'].0['address'] }} activate
  neighbor {{ hostvars['s2-r1'].ansible_net_interfaces['Ethernet0/1']['ipv4'].0['address'] }} activate
  neighbor {{ hostvars['s2-r2'].ansible_net_interfaces['Ethernet0/1']['ipv4'].0['address'] }} activate
  neighbor {{ hostvars['s3-r1'].ansible_net_interfaces['Ethernet0/1']['ipv4'].0['address'] }} activate
  neighbor {{ hostvars['s3-r2'].ansible_net_interfaces['Ethernet0/1']['ipv4'].0['address'] }} activate
{% else %}
  neighbor {{ hostvars['s1-r1'].ansible_net_interfaces['Ethernet0/0']['ipv4'].0['address'] }} activate
  neighbor {{ hostvars['s2-r1'].ansible_net_interfaces['Ethernet0/2']['ipv4'].0['address'] }} activate
  neighbor {{ hostvars['s2-r2'].ansible_net_interfaces['Ethernet0/2']['ipv4'].0['address'] }} activate
  neighbor {{ hostvars['s3-r1'].ansible_net_interfaces['Ethernet0/2']['ipv4'].0['address'] }} activate
  neighbor {{ hostvars['s3-r2'].ansible_net_interfaces['Ethernet0/2']['ipv4'].0['address'] }} activate
{% endif %}
!
ip route 0.0.0.0 0.0.0.0 Null0
